@media (min-width: 1970px) {
  .work .gallery-box {
    max-height: 1200px;
  }
}
@media (min-width: 1313px) and (max-width: 1969px) {
  .work .gallery-box {
    max-height: 800px;
  }
}
@media (max-width: 1199px) {
  .activities .accordion .card {
    margin-bottom: 10px;
  }
  .blog .card {
    min-height: 375px;
  }
  .blog .card .date {
    top: 100px;
  }
  .footer .footer-blog-item {
    margin-top: 17px;
  }
  .footer .footer-blog-content .content {
    padding-top: 0;
  }
}
@media (max-width: 991px) {
  section {
    padding: 50px 0;
  }
  .heading span {
    font-size: 20px;
  }
  .heading h2 {
    padding-top: 10px;
    font-size: 25px;
  }
  .heading h2::after {
    margin: 20px auto;
  }
  .section-description {
    margin-bottom: 50px;
  }
  .main .carousel-indicators li p {
    font-size: 14px;
    padding-top: 0;
  }
  .main .carousel-indicators li p span {
    font-size: 20px;
  }
  .main-content {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .main-content h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
  .main-content p {
    font-size: 4rem;
  }
  .header .logo a {
    font-size: 30px;
  }
  .facts .fact-item {
    border: none;
  }
  .facts .fact-item:last-child {
    border: none;
  }
  .activities-picture {
    margin-bottom: 10px;
    height: 100%;
  }
  .quote .carousel::before {
    display: none;
  }
  .work .gallery-box {
    max-height: 1610px;
  }
  .testimonial .carousel-item {
    height: 200px;
  }
  .testimonial .carousel-item-avatar {
    width: 180px;
  }
  .testimonial .carousel-item-content {
    margin-top: 0;
  }
  .footer h4 {
    text-align: center;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .main .carousel-indicators li p {
    font-size: 10px;
  }
  .main .carousel-indicators li p span {
    font-size: 16px;
  }
  .main-content {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .main-content h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
  .main-content p {
    font-size: 3rem;
  }
  .header .navbar {
    display: none;
  }
  .header .navbar-icon {
    display: inline-block;
    font-size: 25px;
  }
  .services .services-items .service-item:nth-child(4) {
    border-bottom: 1px solid #f8f8f8;
  }
  .feature .devices {
    text-align: center;
  }
  .feature .devices .tablet {
    max-width: 70%;
  }
  .feature .devices .phone {
    max-width: 40%;
    bottom: -40px;
    right: 0;
  }
  .quote .carousel {
    height: 180px;
  }
  .work .gallery-box {
    max-height: 1250px;
  }
  .testimonial .carousel-item-avatar {
    display: none !important;
  }
  .blog .card .date {
    padding-top: 20px;
    height: 90px;
    width: 75px;
    top: 170px;
  }
}
@media (max-width: 575px) {
  .services .services-items .service-item:nth-child(5) {
    border-bottom: 1px solid #f8f8f8;
  }
  .quote .carousel-item blockquote {
    font-size: 16px;
    line-height: 1.8rem;
  }
  .our-team .team-item p {
    margin-bottom: 0px;
  }
  .our-team .team-item .name {
    margin-top: 10px;
  }
  .our-team .team-item .position {
    margin-bottom: 10px;
  }
  .work .gallery-box {
    max-height: 950px;
  }
  .testimonial .carousel-item-content {
    font-size: 16px;
    line-height: 1.8rem;
  }
  .testimonial .carousel-item-content .cite {
    font-size: 22px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer h4 {
    line-height: 55px;
  }
  .footer .subscribe h1 {
    font-size: 30px;
  }
  .footer .subscribe-content {
    margin: 20px 0;
  }
  .footer-form {
    margin-top: 20px;
    width: 300px;
  }
  .footer-form .btn {
    width: 100px;
    font-weight: normal;
    font-size: 12px;
  }
  .footer .footer-blog-content .content {
    font-size: 10px;
  }
  .footer .footer-blog-content .date {
    font-style: italic;
  }
  .footer .instagram-gallery {
    margin-bottom: 20px;
  }
}
@media (max-width: 424px) {
  .main .carousel-indicators li p {
    font-size: 8px;
  }
  .main .carousel-indicators li p span {
    font-size: 12px;
  }
  .main-content {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .main-content h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .main-content h1::after {
    margin: 30px auto;
  }
  .main-content p {
    font-size: 2rem;
  }
  .work .gallery-box {
    max-height: 700px;
  }
  .blog .card .date {
    padding-top: 10px;
    height: 70px;
    width: 60px;
    top: 120px;
  }
  .feedback-item-avatar {
    width: 70px;
  }
  .feedback-item-content {
    margin-left: 100px;
  }
  .feedback-item-content cite {
    line-height: 2rem;
  }
  .feedback-item-content cite .name {
    text-transform: uppercase;
    color: #000000;
    display: block;
    font-style: normal;
  }
  .feedback-item-content cite::after {
    margin: 15px 0;
  }
}
@media (max-width: 378px) {
  .main .btn {
    font-size: 0.8rem;
  }
  .quote .carousel-item blockquote {
    font-size: 14px;
    line-height: 1.6rem;
  }
  .testimonial .carousel-item {
    height: 190px;
  }
  .testimonial .carousel-item-content {
    font-size: 14px;
    line-height: 1.6rem;
  }
  .testimonial .carousel-item-content .cite {
    font-size: 20px;
  }
  .feedback-item-content {
    font-size: 12px;
    margin-left: 100px;
  }
  .feedback-item-content cite {
    line-height: 1.5rem;
  }
  .feedback-item-content cite::after {
    margin: 10px 0;
  }
  .footer .subscribe .follow-us .google,
  .footer .subscribe .follow-us .dribble,
  .footer .subscribe .follow-us .tumblr {
    display: none;
  }
  .footer-form {
    width: 250px;
  }
  .footer-form input {
    height: 30px;
  }
  .footer-form .btn {
    width: 70px;
    font-size: 8px;
  }
}
